.card {
 background-color: #1d70a2;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-around;
 border-radius: 12px;
 height: 80%;
 width: 100%;
 margin: 2px;
 color: var(--primary);
 box-shadow: var(--shadow) 0px 8px 24px;
}

.card-input {
 width: 90%;
 max-height: 80%;
 color: var(--primary);
 background-color: inherit;
 font-size: 1.4em;
 border: none;
 /* margin: auto; */
 text-align: center;
 vertical-align: middle;
 margin-top: 1svh;
}
.card-input::placeholder {
 color: var(--secondary);
 /* border: solid 2px var(--secondary); */
 border-radius: 5px;
 font-size: 0.7em;
}

.done-button {
 width: 80%;
}
