.card {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-around;
 border-radius: 12px;
 height: 80%;
 width: 100%;
 margin: 2px;
 color: var(--primary);

 /* background: rgba(47, 110, 211, 0.869); */
 background: rgba(219, 67, 82, 0.869);
 box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
 backdrop-filter: blur(4px);
 -webkit-backdrop-filter: blur(4px);
 border-radius: 10px;
 border: 1px solid rgba(255, 255, 255, 0.18);
}

.card-input {
 width: 90%;
 max-height: 80%;
 color: var(--primary);
 background-color: transparent;
 font-size: 1.4em;
 border: none;
 /* margin: auto; */
 text-align: center;
 vertical-align: middle;
 margin-top: 1svh;
}
.card-input::placeholder {
 color: var(--secondary);
 /* border: solid 2px var(--secondary); */
 border-radius: 5px;
 font-size: 0.7em;
}

.done-button {
 width: 80%;
}
