/* :root {
  --background: #faf9fc;
  --lighterback: #f1f0f1;
  --primary: #3b3a3d;
  --secondary: #908f90;
  --shadow: rgba(149, 157, 165, 0.2);
  --fun: #ffcd65;
} */

/* [data-theme="dark"] {
  --background: #2d2c2e;
  --lighterback: #3b3a3d;
  --primary: #feffff;
  --secondary: #8a8b8e;
  --shadow: rgba(78, 83, 87, 0.2);
  --fun: #ffcd65;
} */

:root {
 --background: #fffee1;
 --lighterback: #7b9a90;
 --primary: #feffff;
 --secondary: #feffffc3;
 --shadow: rgba(19, 20, 20, 0.2);
}

* {
 box-sizing: border-box;
 padding: 0;
 margin: 0;
}

html,
body {
 max-width: 100svw;
 max-height: 100svh;
 overflow-x: hidden;
 text-rendering: optimizeLegibility;
 /* background-image: linear-gradient(180deg, #db4352 5%, #e95664 20%, #cd5964 60%, #db4352 95%); */
 background-image: linear-gradient(180deg, #2f6ed3 5%, #5095e4 20%, #5095e4 60%, #2f6ed3 95%);
 overflow-y: hidden;
 transition: 0.2s;
}

a {
 color: inherit;
 text-decoration: none;
}
