nav {
 height: 8svh;
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin: 1svh;
 padding: 20px;
 background: rgba(255, 255, 255, 0.25);
 box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
 backdrop-filter: blur(4px);
 -webkit-backdrop-filter: blur(4px);
 border-radius: 10px;
 border: 1px solid rgba(255, 255, 255, 0.18);
 font-size: 0.9em;
 color: var(--primary);
 transition: 0.5s;
}

.main-title {
 font-weight: 600;
 font-size: 1.4em;
}

.sub-title {
 font-size: 0.8em;
}

.actions {
 display: flex;
 align-items: center;
 justify-content: center;

 width: 28vw;
}

.refresh {
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 8px;
 border-radius: 10px;
 transition: 0.2s ease-out;

 /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
 backdrop-filter: blur(4px);
 -webkit-backdrop-filter: blur(4px);
 border-radius: 10px;
 border: 1px solid rgba(255, 255, 255, 0.18); */
}

.refresh:hover,
.refresh:active {
 box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
 backdrop-filter: blur(4px);
 -webkit-backdrop-filter: blur(4px);
 border-radius: 10px;
 border: 1px solid rgba(255, 255, 255, 0.18);
}

.paint-brush {
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 8px;
 border-radius: 10px;
}

.paint-brush:hover,
.paint-brush:active {
 box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
 backdrop-filter: blur(4px);
 -webkit-backdrop-filter: blur(4px);
 border-radius: 10px;
 border: 1px solid rgba(255, 255, 255, 0.18);
}

.lock {
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 8px;
 border-radius: 10px;
 transition: 0.2s ease-out;
 color: var(--primary);
}

.lock:hover,
.lock:active {
 box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
 backdrop-filter: blur(4px);
 -webkit-backdrop-filter: blur(4px);
 border-radius: 10px;
 border: 1px solid rgba(255, 255, 255, 0.18);
}
